body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffdab9; /* Персиковый цвет фона */
}

.form-container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

#last-name, #first-name, #email,#phone-number,#password {
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ffcba4; /* Персиковый цвет панели заголовка */
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

.form-group button:hover {
    background-color: #fdb38c; /* Светло-персиковый цвет меню */
}